body {
  min-width: 380px;
}
.todo_list {
  width: 100%;
  display: flex;
}
.today_list {
  width: 60%;
}
.yesterday_list {
  width: 40%;
}
.today_list form {
  padding-left: 40px;
}
.time_wise_saying,
.clock,
.user_form,
.user_name,
.change_name,
.date,
.d_day {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo_list {
  height: 50vh;
}
.date {
  margin-top: 30px;
}
.time_wise_saying {
  padding: 20px 0 0 0;
}

.clock_time {
  font-size: 50px;
  font-weight: 900;
}
.clock_time_second {
  padding-top: 25px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: lighter;
}
.user_name,
.user_form {
  user-select: none;
}
.user_name {
  margin-top: 50px;
}
.change_name {
  font-size: 10px;
  color: rgb(161, 161, 161);
}
.change_name:hover {
  color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}
